<br />
<meta charset="utf-8" />
<div class="container">
  <h1 class="custom-font">Baches registrados</h1>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Codigo</th>
        <th>Direccion</th>
        <th>Distrito</th>
        <th>Tamaño</th>
        <th>Ubicacion</th>
        <th>Urgencia</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bachessList">
        <td>{{ item.idB }}</td>
        <td>{{ item.direccionB }}</td>
        <td>{{ item.distrito }}</td>
        <td>{{ item.tamano }}</td>
        <td>{{ item.ubicacionB }}</td>
        <td>{{ item.urgencia }}</td>
        <td>
          <button
            type="button"
            class="btn btn-dark"
            (click)="RegisterOrdenS.bacheId = item.idB; Ordenar()"
            style="margin-right: 50px"
          >
            Ordenar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="RegisterAveriaSe.codigoBache = item.idB; GetAveria()"
          >
            Archivo
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
