<div class="login">
  <form class="custom-form" (ngSubmit)="registrar()">
    <h1>Orden</h1>
    <input
      type="text"
      name="horas"
      placeholder="Horas"
      [(ngModel)]="horas"
      required
    />
    <input
      type="text"
      name="estado"
      placeholder="Estados"
      [(ngModel)]="estado"
      required
    />
    <input
      type="text"
      name="materiales"
      placeholder="Materiales"
      [(ngModel)]="materiales"
      required
    />
    <input
      type="text"
      name="precio"
      placeholder="Precio"
      [(ngModel)]="precio"
      required
    />
    <button type="submit">Log in</button>
    <br />
    <button type="submit" (click)="Back()">Back</button>
  </form>
</div>
