<br />
<meta charset="utf-8" />
<div class="container">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Codigo</th>
        <th>Direccion</th>
        <th>Distrito</th>
        <th>Tamaño</th>
        <th>Ubicacion</th>
        <th>Urgencia</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ bachess.idB }}</td>
        <td>{{ bachess.direccionB }}</td>
        <td>{{ bachess.distrito }}</td>
        <td>{{ bachess.tamano }}</td>
        <td>{{ bachess.ubicacionB }}</td>
        <td>{{ bachess.urgencia }}</td>
        <td>
          <button type="button" class="btn btn-dark" style="margin-right: 50px">
            Averica
          </button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </td>
        <!--- <td th:text="${Estudiante.programa}">Programa</td>-->
      </tr>
    </tbody>
  </table>
  <br />
</div>
