<div class="login">
  <form class="custom-form" (ngSubmit)="login()">
    <h1>Login</h1>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Usuario"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="passwords"
      placeholder="Password"
      required
    />
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="adminCheckbox"
        name="Administrador"
        [(ngModel)]="isAdmin"
      />
      <label class="form-check-label" for="adminCheckbox">
        Funcionario
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="ciudadanoCheckbox"
        name="Ciudadano"
        [(ngModel)]="isCiudadano"
      />
      <label class="form-check-label" for="ciudadanoCheckbox">
        Ciudadano
      </label>
    </div>
    <button type="submit" >sign in</button>
    
  </form>
</div>
